/*Desktop Screen Width*/

html{
	font-size: 62.5%
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1em;
}

a {
	color: red;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 4em;
	margin-bottom: 0em;
	margin-top: 0em;
}

header {
	background-color: #000000
}

content {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

h3 {
	text-align: left;
	font-size: 2.5em;
	margin: 0em;
}

h4 {
	text-align: left;
	font-size: 1.75em;
	margin: .2em;
}

p {
	text-align: left;
	font-size: 1.5em;
	margin: .2em;
	display: inline-block;
	vertical-align: top;
}

ul{
	margin-top: 1em;
	padding-left: 0em;
}

nav {
	text-align: center;
}

#wrapper {
	border-right: .1em solid #e5e5e5;
	border-left: .1em solid #e5e5e5;
	width: 85%;
	margin: 0 auto;
	overflow: hidden;
}

#container {
	text-align: center;
}

/** Carousel CSS **/

.jcarousel-wrapper {
	display: block;
	margin: 2em auto;
    position: relative;
    border: 1em solid #fff;
    width: 100em;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
	display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel-control-next { 
	right: 0em; 
}

.jcarousel-control-prev { 
	left: 0em; 
}

.jcarousel-control-prev, .jcarousel-control-next {
	position: absolute;
	bottom: 17em;
    text-align: center;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;
    overflow: hidden;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel img{
	width:100rem;
	height: 46rem;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

.navbar {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #FFFFFF;
}
.navbar ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    padding: 0em;
    overflow: hidden;
}
.navbar li{
    padding: .2em;
    width: 15em;
    display:inline-block;
}

.page-scroller {
	display: inline-block;
	vertical-align: top;
	height: 2em;
	width: 1.2em;
	top-margin: .5em;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	background: #000000;
	color: red;
}

#page-numbers {
	padding-bottom: 1em;
	padding-right: 1em;
	text-align: right;
	margin-top: 1.2em;
}

.header-nav{
	display: inline-block;
	vertical-align: top;
	width: 18%;
	height: 2.2em;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 2.2em;
	font-weight: bold;
	margin-bottom: 0em;
}

.header-nav a {
	text-decoration: none;
}

.blog-box{
	display: inline-block;
	vertical-align: top;
	max-width: 41em;
	margin-top: 2.5em;
	margin-right: 1em;
	margin-left: 1em;
	text-align: center;
	border: .1em solid white;
}

.blog-box img {
	left-margin: 2.5em;
	right-margin: 2.5em;
}

.blog-box a {
	text-decoration: none;
}

.blog-box h3 {
	color: black;
}

.blog-box h4 {
	color: black;
}

.blog-box p {
	color: black;
}

.title-box{
	height: 2em;
	text-align: left;
	padding-left: .5em;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
}

.social-buttons{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background-color: #000000;
	width: 100%;
	margin-right: 2em;
	border-bottom: 1em solid black;
}

.footer-nav{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	height: 2.2em;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 2.2em;
	font-weight: bold;
	margin-bottom: 0em;
}

.footer-nav a {
	text-decoration: none;
}

.footer-top {
	height: 2em;
	text-align: left;
	background-color: #000000;
}

.footer {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: black;
	text-align: center;
}

#form-div{
	padding-top: .5em;
	text-align: left;
	width: 100%;
}

.form-input {
	font-size: 1.9em;
	text-align: left;
}

#button {
	color: white;
	width: 5em;
	background-color: black;
	font-weight: bold;
	font-size: 1.9em;
	text-align: center;
}

/** Blog Post Styling **/

.post-h1{
	color: #000000;
	font-size:3em;
	text-align: Left;
}

.category {
	padding-top: 1em;
	font-size: 1.9em;
	text-align: left;
}

.post {
	margin-right: 2em;
	margin-left: 2em;
}

.post-entry {
	font-size: 1.3em;
}

.post-meta {
	font-size: 1.2em;
	margin-bottom: 1em;
	text-align: left;
}

.tag {
	border: 1px solid grey;
	display: inline-block;
	vertical-align: top;
	margin-top: 1.1em;
	width: 15%;
	height: 2.2em;
	text-align: center;
}

.tag a {
	text-decoration: none;
	color: grey;
	text-align: center;
	font-size: 1.5em;
}

.inline-img {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.post-author {
	border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
}

.author-image {
	text-align: left;
}

.author-info {
	margin-left: 2em;
	text-align: left;
}

@media (max-width: 768px) {

  content {
  	display: block;
  	width: 100%;
  }

  #container {
  	display: block;
  	width: 100%;
  }

  #wrapper {
  	display: block;
  	margin: 0;
  	width: auto;
  }

	.jcarousel-control-next {
		right: 1.2em;
	}

	.jcarousel-control-prev {
		left: 0;
	}

	.jcarousel-control-prev, .jcarousel-control-next {
		position: absolute;
	}

	.blog-box{
		display: inline-block;
		vertical-align: top;
		max-width: 46em;
		margin-top: 2.5em;
		margin-right: 1em;
		margin-left: 1em;
		text-align: center;
		border: .1em solid white;
	}

	.blog-box img {
		max-width: 86em;
		left-margin: 0em;
		right-margin: 0em;
	}

	.footer-nav{
		font-size: 1.5em;
	}

	h1 {
		font-size: 4.5em
	}
}
